img {
  width: 100%;
  height: auto;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #fff;
  font-weight: 300;
  color: #333;
}
.container {
  padding: 0px;
}
.fake-phone {
  background-image: url('../img/phone.png');
  background-repeat: no-repeat;
  position: fixed;
  width: 420px;
  height: 792px;
  left: 40%;
  padding-left: -210px;
  top: 3%;
  overflow: hidden;
}
.fake-screen {
  background-color: #fff;
  width: 316px;
  height: 559px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 116px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 60px;
}
.fake-screen -webkit-scrollbar {
  display: none;
}
.fake-screen.disable {
  overflow: hidden;
}
.top-bar {
  height: 26px;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  background-repeat: none;
  filter: none;
}
#listing-carousel {
  max-height: 220px;
  overflow: hidden;
}
#listing-carousel .carousel-inner > .item > img,
#listing-carousel .carousel-inner > .item > a > img {
  width: 100%;
  height: auto;
}
#listing-carousel .item {
  height: 316px;
  overflow: hidden;
}
.header {
  background-color: #fff;
  position: fixed;
  z-index: 15;
  opacity: 0.8;
  display: block;
  border-bottom: 1px solid #000;
  text-align: center;
  width: 316px;
}
.header .text {
  color: #000;
  opacity: 1;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  line-height: 24px;
  padding: 4px 0px 10px 0px;
  font-weight: 900;
  display: inline-block;
}
img.ios-header {
  width: 316px;
  position: relative;
  top: 0px;
}
.essential-data {
  width: 100%;
  margin: 0px auto 14px auto;
  background-color: #333;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  border-bottom: 1px solid #000;
}
.essential-data tr {
  width: 100%;
}
.essential-data td {
  text-align: center;
  font-weight: 100;
  padding-bottom: 8px;
  padding-top: 8px;
}
.essential-data small {
  font-size: 60%;
}
.map img {
  width: 100%;
}
.footer {
  height: 54px;
  position: fixed;
  top: 598px;
  background-color: #fff;
  z-index: 9;
  width: 316px;
}
.footer table {
  width: 316px;
  text-align: center;
  background-color: #f0f0f0;
}
.footer table td {
  font-size: 28px;
  line-height: 28px;
  font-weight: 900;
  padding: 8px;
  color: #333;
  border-right: 1px solid #ccc;
}
.footer table td:last-child {
  border-right: none;
}
.footer table td.no {
  color: #f46c62;
}
.footer table td.no:active {
  background-color: #f46c62;
  color: #fff;
}
.footer table td.maybe {
  color: #f48e69;
}
.footer table td.maybe:active {
  background-color: #f48e69;
  color: #fff;
}
.footer table td.yes {
  color: #52cc7e;
}
.footer table td.yes:active {
  background-color: #52cc7e;
  color: #fff;
}
.footer table td:hover {
  cursor: pointer;
  background-color: #fff;
}
.commute {
  margin-left: 10px;
  display: block;
  margin-bottom: 6px;
}
.commute .icon {
  width: 30px;
  height: 24px;
  display: inline-block;
  float: left;
  background-repeat: no-repeat;
}
.commute .icon.check {
  background-image: url('../img/icon-check.png');
  background-position: 5px 0px;
}
.commute .icon.driving {
  background-image: url('../img/icon-car.png');
}
.commute .icon.transit {
  background-image: url('../img/icon-bus.png');
}
.commute .icon.bicycling {
  background-image: url('../img/icon-bike.png');
}
.commute .time {
  display: inline-block;
  padding-top: 1px;
  float: left;
  margin-left: 4px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  color: #333;
}
.scores {
  margin: 10px 0px 10px 0px;
}
.scores table {
  width: 100%;
  text-align: center;
}
.scores td {
  border-left: 1px solid #ccc;
}
.scores td:first-child {
  border-left: none;
}
.score {
  font-size: 36px;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 36px;
}
.profile-box .score {
  font-size: 28px;
  line-height: 28px;
}
.score-label {
  margin-top: 4px;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  color: #777;
}
.public-remarks {
  padding: 10px 14px 10px 14px;
}
.header-button {
  font-size: 18px;
  line-height: 18px;
  margin: 4px 6px 0px 6px;
  width: 24px;
}
.header-nav {
  display: block;
  height: 40px;
}
.header-nav table {
  width: 100%;
}
.agent {
  width: 50px;
  float: left;
  display: inline-block;
}
.agent img {
  width: 100%;
}
.comment {
  padding: 6px 10px 0px 10px;
  display: inline-block;
  float: left;
  position: relative;
  width: 266px;
  font-size: 14px;
  background-color: #2988cc;
  color: #fff;
  height: 50px;
}
/*-------------- YELP ------------------- */
.inline-header {
  font-size: 20px;
  font-weight: 100;
  margin: 20px 0px 10px 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
  text-transform: capitalize;
}
.interest {
  font-weight: 900;
  text-transform: uppercase;
  margin: 12px 0px 8px 0px;
  font-size: 12px;
}
.interest-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: #f0f0f0 1px solid;
}
.interest-item:last-child {
  border-bottom: none;
}
.interest-image {
  display: inline-block;
  width: 50px;
  margin-right: 10px;
  float: left;
  padding-top: 6px;
}
.interest-image img {
  width: 100%;
  height: auto;
}
.interest-text {
  display: inline-block;
  width: 224px;
  float: left;
}
.interest-name {
  display: inline-block;
  float: left;
}
.interest-rating {
  display: inline-block;
  float: right;
  font-size: 12px;
}
.excerpt {
  font-size: 12px;
  display: block;
  color: #777;
}
/* ------------ DIALOGUE BOX ------------------- */
.super-box {
  position: fixed;
  z-index: 10;
  opacity: 1;
  width: 316px;
  height: 560px;
  display: block;
  top: 140px;
  visibility: hidden;
}
.super-box.no {
  background-color: #f46c62;
}
.super-box.no .reason-button:hover,
.super-box.no .reason-button:active {
  border: 2px solid #f13f32;
  background-color: #f13f32;
}
.super-box.yes {
  background-color: #52cc7e;
}
.super-box.yes .reason-button:hover,
.super-box.yes .reason-button:active {
  border: 2px solid #36b564;
  background-color: #36b564;
}
.super-box.maybe {
  background-color: #f48e69;
}
.super-box.maybe .reason-button:hover,
.super-box.maybe .reason-button:active {
  border: 2px solid #f16a39;
  background-color: #f16a39;
}
.main-box {
  width: 276px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  opacity: 1;
  margin-top: 120px;
  color: #fff;
  font-size: 24px;
}
.reason-button {
  border: 2px solid #fff;
  width: 100%;
  text-align: center;
  padding: 8px;
  margin-bottom: 14px;
  font-weight: 300;
}
.reason-button:hover {
  cursor: pointer;
  border: 2px  #fff;
}
/* -------------- AGENT INVENTORY ------------------ */
.client {
  padding: 8px 14px 8px 14px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}
.client .glyphicon {
  font-size: 16px;
  color: #aaa;
}
.client.add .glyphicon {
  color: #fff;
  opacity: 0.5;
}
.client .new .glyphicon-ok {
  color: #52cc7e;
}
.client .new .glyphicon-remove {
  color: #f46c62;
}
.client .new .glyphicon-remove {
  color: #f46c62;
}
.client .new .glyphicon.question {
  color: #f48e69;
}
.client .new .glyphicon-home {
  color: #2988cc;
}
.client .new .glyphicon {
  font-size: 18px;
}
.client.inactive {
  background-color: #e5e5e5;
  opacity: 0.8;
  border-bottom: 1px solid #999;
}
.client.add {
  background-color: #52cc7e;
}
.client-profile {
  border-radius: 500px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: inline-block;
  float: left;
}
.add .client-profile {
  background-color: #fff;
}
.profile-box .client-profile {
  width: 60px;
  height: 60px;
}
.client-info {
  float: left;
  display: inline-block;
  margin-left: 14px;
}
.client-name {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 0px;
  padding-top: 6px;
  text-transform: uppercase;
  font-weight: 900;
}
.add .client-name {
  color: #fff;
}
.client-name.house {
  padding-bottom: 6px;
}
a .client-name {
  color: #333;
}
a .client-name:hover {
  color: #333;
}
.time-stamp {
  margin-left: 6px;
  font-weight: 300;
  color: #777;
  font-size: 10px;
}
.add .time-stamp {
  color: #fff;
  opacity: 0.5;
}
.client-data-unit {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin-right: 14px;
}
.client-data-unit:last-child {
  margin-right: 0px;
}
.data-number {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  display: inline-block;
  color: #777;
}
.new .data-number {
  color: #000;
}
.add .data-number {
  color: #fff;
}
.add-button {
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  padding: 16px;
}
.profile-box {
  padding: 14px;
}
.profile-box .scores {
  margin: 10px 0px 10px 0px;
}
.profile-box .scores table {
  width: 220px;
  text-align: center;
  display: inline-block;
}
.profile-box .scores td {
  border-left: 1px solid #ccc;
  padding: 0px 12px 0px 12px;
}
.profile-box .scores td:first-child {
  border-left: none;
}
.client-preferences td {
  width: 50%;
  vertical-align: top;
}
.client-preferences td:last-child {
  padding-left: 10px;
}
.profile-nav {
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  margin-top: 10px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  color: #777;
}
.profile-nav td {
  border-left: 1px solid #e5e5e5;
  padding: 10px;
}
.profile-nav td .active.glyphicon {
  color: #2988cc;
}
