body {
  background-color: #fff;
  font-weight: 300;
}
.container {
  padding: 0px;
}
.fake-phone {
  background-image: url('../img/phone.png');
  background-repeat: no-repeat;
  position: absolute;
  width: 420px;
  height: 792px;
  left: 40%;
  padding-left: -210px;
  top: 5%;
}
.fake-screen {
  background-color: #fff;
  width: 316px;
  height: 559px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 116px;
  position: relative;
  overflow: scroll;
}
.top-bar {
  height: 26px;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  background-repeat: none;
  filter: none;
}
#listing-carousel {
  max-height: 220px;
  overflow: hidden;
}
#listing-carousel .carousel-inner > .item > img,
#listing-carousel .carousel-inner > .item > a > img {
  width: 100%;
  height: auto;
}
#listing-carousel .item {
  height: 316px;
  overflow: hidden;
}
.header {
  background-color: #fff;
  position: fixed;
  z-index: 15;
  opacity: 0.8;
  display: block;
  border-bottom: 1px solid #000;
  text-align: center;
  width: 316px;
}
.header .text {
  color: #000;
  opacity: 1;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
  line-height: 24px;
  padding: 4px 0px 10px 0px;
  font-weight: 900;
}
img.ios-header {
  width: 316px;
  position: relative;
  top: 0px;
}
.essential-data {
  width: 100%;
  margin: 0px auto 14px auto;
  background-color: #2988cc;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.essential-data tr {
  width: 100%;
}
.essential-data td {
  text-align: center;
  font-weight: 100;
  padding-bottom: 8px;
  padding-top: 8px;
}
.essential-data td:first-child {
  padding-left: 10px;
}
.essential-data td:last-child {
  padding-right: 10px;
}
.map img {
  width: 100%;
}
.footer {
  height: 48px;
}
.commute {
  margin-left: 10px;
  display: block;
  margin-bottom: 2px;
}
.commute .icon {
  width: 30px;
  height: 24px;
  display: inline-block;
  float: left;
  background-repeat: no-repeat;
}
.commute .icon.bike {
  background-image: url('../img/icon-bike.png');
}
.commute .icon.check {
  background-image: url('../img/icon-check.png');
  background-position: 5px 0px;
}
.commute .time {
  display: inline-block;
  padding-top: 1px;
  float: left;
  margin-left: 4px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  color: #333;
}
.scores {
  margin: 0px 10px 0px 10px;
}
.scores table {
  width: 100%;
  text-align: center;
}
.scores .label {
  color: #000;
}
.public-remarks {
  padding: 10px 14px 10px 14px;
}
