body {
  background-color: #fff;
}

.container {
	padding: 0px;
}

.fake-phone {
	background-image:url('../img/phone.png');
	background-repeat:no-repeat;
	position: absolute;
	width: 420px;
	height: 792px;
	left: 40%;
	padding-left: -210px;
	top: 5%;
	}

.fake-screen {
	background-color: #fff;
	width:316px;
	height:562px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 116px;
	position: relative;
	overflow: scroll;
}

.top-bar {
	height: 26px;
}


.carousel-control.left, .carousel-control.right {
background-image: none;
background-image: none;
background-image: none;
background-image: none;
background-repeat: none;
filter: none;
}